

.bg {background-attachment:fixed; background-repeat: no-repeat; background-position:top right;
}

wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}